<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>404页面不存在</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/public.css">
</head>
<body>
    <!--    公共头部    -->
    <header class="header" id="header">
        <!--  头部登录栏  -->
        <div class="loginBox">
            <div class="container cf">
                <a class="fl m_btn" href="http://www.zhishengwh.com/wap" target="_blank"><i class="dib"></i>玩转H5游戏</a>
                <div class="fr">
                    <a class="m_btn login_btn" href="javascript:void(0);">登录</a>
                    <a class="m_btn" href="javascript:void(0);"> | 注册 |</a>
                    <a class="m_btn" href="javascript:void(0);">关注我们</a>
                </div>

            </div>
        </div>

        <!--  搜索栏  -->
        <div class="s_height">
            <div class="search container cf">
                <img src="../public/images/header/logo.png" title="logo" width="169" height="60" class="logo fl" onclick="location.href='http://www.zhishengwh.com/';">
                <div class="search_box fr cf">
                    <form action="" method="">
                        <input type="text" class="fl" name="d" placeholder="搜索游戏名称" value="">
                        <input type="submit" name="btn" id="com_search" style="width: 60px;height: 44px;margin: 0;" class="search_icon fr" value="">
                        <div class="fl hot"><span>热门搜索词：</span><span class="hot_m">绝地求生</span><span class="hot_m">王者荣耀</span><span class="hot_m">世仙王</span><span class="hot_m">阴阳道绝</span></div>
                    </form>
                </div>
            </div>
        </div>

        <!--  导航tab栏  -->
        <nav class="tab_t cf">
            <div class="container">
                <ul class="tab_t_wrap cf">
                    <li class="sub_tab active"><a href="index.html" class="each_tab_link">首页</a></li>
                    <li class="sub_tab"><a href="gold.html" class="each_tab_link">金币交易</a></li>
                    <li class="sub_tab"><a href="account.html" class="each_tab_link">账号交易</a></li>
                    <li class="sub_tab"><a href="equipment.html" class="each_tab_link">装备交易</a></li>
                    <li class="sub_tab"><a href="practice.html" class="each_tab_link">游戏代练</a></li>
                    <li class="sub_tab"><a href="goods.html" class="each_tab_link">商品兑换</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--    404    -->
    <div class="container" style="text-align: center;margin-top: 100px;">
        <img class="dib" src="../public/images/common/no_some.png" height="102" width="96" style="vertical-align: middle;margin-right: 20px;" alt="">
        <span style="font-size: 30pt;color: #FFE8CD;vertical-align: middle;">404页面不存在</span>
    </div>

</body>
</html>