<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>订单支付</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/order.css">
</head>
<body>
    <!--    公共头部    -->
    <header class="header" id="header">
        <!--  头部登录栏  -->
        <div class="loginBox">
            <div class="container cf">
                <a class="fl m_btn" href="http://www.zhishengwh.com/wap" target="_blank"><i class="dib"></i>玩转H5游戏</a>
                <div class="fr">
                    <a class="m_btn login_btn" href="javascript:void(0);">登录</a>
                    <a class="m_btn" href="javascript:void(0);"> | 注册 |</a>
                    <a class="m_btn" href="javascript:void(0);">关注我们</a>
                </div>

            </div>
        </div>

        <!--  搜索栏  -->
        <div class="s_height">
            <div class="search container cf">
                <img src="../public/images/header/logo.png" title="logo" width="169" height="60" class="logo fl" onclick="location.href='http://www.zhishengwh.com/';">
                <div class="search_box fr cf">
                    <form action="" method="">
                        <input type="text" class="fl" name="d" placeholder="搜索游戏名称" value="">
                        <input type="submit" name="btn" id="com_search" style="width: 60px;height: 44px;margin: 0;" class="search_icon fr" value="">
                        <div class="fl hot"><span>热门搜索词：</span><span class="hot_m">绝地求生</span><span class="hot_m">王者荣耀</span><span class="hot_m">世仙王</span><span class="hot_m">阴阳道绝</span></div>
                    </form>
                </div>
            </div>
        </div>

        <!--  导航tab栏  -->
        <nav class="tab_t cf">
            <div class="container">
                <ul class="tab_t_wrap cf">
                    <li class="sub_tab"><a href="index.html" class="each_tab_link">首页</a></li>
                    <li class="sub_tab active"><a href="gold.html" class="each_tab_link">金币交易</a></li>
                    <li class="sub_tab"><a href="account.html" class="each_tab_link">账号交易</a></li>
                    <li class="sub_tab"><a href="equipment.html" class="each_tab_link">装备交易</a></li>
                    <li class="sub_tab"><a href="practice.html" class="each_tab_link">游戏代练</a></li>
                    <li class="sub_tab"><a href="goods.html" class="each_tab_link">商品兑换</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--    content    -->
    <div class="container">
        <!--  进度条  -->
        <div class="forget_guide pr">
            <span class="forget_one dib active">1.填写订单</span>
            <span class="forget_two dib active">2.支付订单</span>
            <span class="forget_three dib">3.领取资料</span>
            <span class="forget_four dib">4.交易成功</span>
        </div>
        <p class="seller_title">订单支付&nbsp;&nbsp;<span class="sure">请确认订单信息并付款</span></p>
        <div class="info_box cf">
            <i class="fl"></i>
            <div class="fl">
                <p class="title ofh">【风暴骑兵 女 90级 QQ等级11-20级 无QQ好友 不存在5天封号记录 】★大象专卖★天空套，攻城炮恍惚万世三神器</p>
                <p class="title ofh">商品类型：帐号</p>
                <p class="title ofh">所在区/服：地下城与勇士/ 腾讯/ 广东区/广东6区/</p>
                <p class="title ofh">订单号：DB20180903602736036</p>
                <p class="title ofh">购买时间：2018年09月03日 16:44:33</p>
                <p class="title ofh pay_m">支付金额：199.00</p>
            </div>
        </div>
        <p class="public_title">支付方式</p>
        <ul class="pay_box cf">
            <li class="fl cf active"><i class="un_select fl"></i><div class="alipay fl"><i></i><span>支付宝支付</span></div></li>
            <li class="fl cf"><i class="un_select fl"></i><div class="wxpay fl"><i></i><span>微信支付</span></div></li>
        </ul>
        <a class="pay_btn" href="receive.html">立即支付</a>
    </div>

    <!--    底部公共    -->
    <footer id="footer">
        <!--   友情链接   -->
        <div class="f_link_box container">
            <div class="title_box cf">
                <p class="tit_name fl">友情链接</p>
            </div>
            <ul class="link_content_ul cf">
                <li class="each_sub_link fl"><a href="https://www.baidu.com/" class="link_a" target="_blank">百度搜索</a></li>
                <li class="each_sub_link fl"><a href="http://www.wanmei.com/" class="link_a" target="_blank">完美世界</a></li>
                <li class="each_sub_link fl"><a href="http://www.gyyx.cn/" class="link_a" target="_blank">光宇游戏</a></li>
                <li class="each_sub_link fl"><a href="http://games.qq.com/" class="link_a" target="_blank">腾讯游戏</a></li>
                <li class="each_sub_link fl"><a href="http://www.youxibao.com/" class="link_a" target="_blank">游戏宝手游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.gk99.com/" class="link_a" target="_blank">游戏港口</a></li>
                <li class="each_sub_link fl"><a href="http://www.youxiwangguo.com/" class="link_a" target="_blank">游戏王国</a></li>
                <li class="each_sub_link fl"><a href="http://www.fahao.cc " class="link_a" target="_blank">发号网</a></li>
                <li class="each_sub_link fl"><a href="http://www.15153.com/ " class="link_a" target="_blank">15153手游网 </a></li>
                <li class="each_sub_link fl"><a href="http://www.youxiniao.com/" class="link_a" target="_blank">游戏鸟</a></li>
                <li class="each_sub_link fl"><a href="http://www.juxia.com/sjwy/ " class="link_a" target="_blank">聚侠手游</a></li>
                <li class="each_sub_link fl"><a href="http://www.app178.com/" class="link_a" target="_blank">好玩的手机游戏</a></li>
                <li class="each_sub_link fl"><a href="http://www.ppswan.com/" class="link_a" target="_blank">好玩的手机网游</a></li>
                <li class="each_sub_link fl"><a href="http://www.shouyouya.com/" class="link_a" target="_blank">手游呀下载</a></li>
                <li class="each_sub_link fl"><a href="http://www.7myx.com/" class="link_a" target="_blank">七米手机游戏</a></li>
                <li class="each_sub_link fl"><a href="http://www.3367.com/" class="link_a" target="_blank">3367手机游戏</a></li>
                <li class="each_sub_link fl"><a href="http://www.sjyx.com/" class="link_a" target="_blank">手机游戏网</a></li>
                <li class="each_sub_link fl"><a href="http://www.kuhou.com" class="link_a" target="_blank">酷猴手游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.17sysj.com/" class="link_a" target="_blank">手游视界</a></li>
                <li class="each_sub_link fl"><a href="http://www.benshouji.com" class="link_a" target="_blank">笨手机网游 </a></li>
                <li class="each_sub_link fl"><a href="http://www.8477.com" class="link_a" target="_blank">8477手游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.anfan.com" class="link_a" target="_blank">安锋网</a></li>
                <li class="each_sub_link fl"><a href="http://www.87g.com" class="link_a" target="_blank">87G手游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.9669.com" class="link_a" target="_blank">9669手游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.yeyoujia.com/" class="link_a" target="_blank">页游家</a></li>
                <li class="each_sub_link fl"><a href="http://www.139y.com/" class="link_a" target="_blank">手心攻略</a></li>
                <li class="each_sub_link fl"><a href="http://www.kuai8.com/ " class="link_a" target="_blank">快吧游戏</a></li>
                <li class="each_sub_link fl"><a href="http://www.52ee.com/" class="link_a" target="_blank">易手游</a></li>
                <li class="each_sub_link fl"><a href="http://sj.5qwan.com" class="link_a" target="_blank">我去玩手游</a></li>
                <li class="each_sub_link fl"><a href="http://www.yoyou.com/" class="link_a" target="_blank">优游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.369sy.cn/" class="link_a" target="_blank">369手游网</a></li>
                <li class="each_sub_link fl"><a href="http://www.gaoshouyou.com" class="link_a" target="_blank">高手游</a></li>
                <li class="each_sub_link fl"><a href="http://www.xiaopi.com" class="link_a" target="_blank">小皮网</a></li>
                <li class="each_sub_link fl"><a href="http://www.r2yx.com/" class="link_a" target="_blank">人人游戏网 </a></li>
                <li class="each_sub_link fl"><a href="http://www.zhishengwh.com" class="link_a" target="_blank">深圳致晟游戏玩转平台 </a></li>
            </ul>
        </div>

        <!--  版权信息   -->
        <div class="footer_box">
            <div class="container cf">
                <div class="footerContentWrap fl">
                    <div class="subCopy aboutUs">
                        <a href="javascript:void(0)">关于我们</a>
                        <span>|</span>
                        <a href="javascript:void(0)">商务合作</a>
                        <span>|</span>
                        <a href="javascript:void(0)">合作伙伴</a>
                        <span>|</span>
                        <a href="javascript:void(0)">客服帮助</a>
                        <span>|</span>
                        <a href="javascript:void(0)">注册协议</a>
                    </div>
                    <div class="subCopy">
                        <a href="javascript:void(0)">防沉迷系统</a>
                        <span>|</span>
                        <a href="javascript:void(0)">未成年家长监护工程</a>
                        <span>|</span>
                        <a href="javascript:void(0)">《网络游戏服务格式化协议必备条款》</a>
                    </div>
                    <div class="subCopy">
                        <p>深圳玩转游戏兑换平台 © 2018 zhishengwh 版权所有 shop.zhishengwh.com</p>
                    </div>
                    <div class="subCopy">
                        <p>网站备案：粤ICP备18083935号-1</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/public.js"></script>
    <script src="../public/js/pay.js"></script>
</body>
</html>