<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>卖出商品</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/buy_goods.css">
</head>
<body class="homeMain">
    <!--    公共头部    -->
    <header class="header" id="header">
        <!--  头部登录栏  -->
        <div class="loginBox">
            <div class="container cf">
                <a class="fl m_btn" href="http://www.zhishengwh.com/wap" target="_blank"><i class="dib"></i>玩转H5游戏</a>
                <div class="fr">
                    <a class="m_btn login_btn hide" href="javascript:void(0);">登录</a>
                    <a class="m_btn login_btn" href="javascript:void(0);">您好，17688830262【会员中心】</a>
                    <a class="m_btn hide" href="javascript:void(0);"> | 注册 |</a>
                    <a class="m_btn" href="javascript:void(0);"> | 退出 |</a>
                    <a class="m_btn" href="javascript:void(0);">关注我们 |</a>
                    <a class="m_btn login_btn" href="javascript:void(0);">跳转到玩转游戏</a>
                </div>
            </div>
        </div>
    </header>
    <!--     content     -->
    <div class="container">
        <!--   面包屑   -->
        <div class="crumbs">您的位置：<span>首页 ></span><span> 个人中心</span></div>
        <div class="uc_box cf">
            <div class="uc_left fl cf">
                <div class="uc_name cf"><span class="name ofh fl w_100">17688830262</span><span class="fl">【在线】</span></div>
                <div class="uc_name">
                    <p class="cf"><span class="fl">买家成交量：</span><span class="ofh fl w_80">0</span></p>
                    <p class="cf"><span class="fl">我的平台币：</span><span class="name ofh fl w_80">0.00</span></p>
                    <p class="cf a_out"><a class="fl name" href="user.html">【我的账户】</a><a class="fr gray" href="javascript:void(0);">【退出登录】</a></p>
                </div>
                <div class="uc_name">
                    <p class="a_out"><a href="uc.html">我要发布商品</a></p>
                </div>
                <div class="uc_name">
                    <p class="a_out"><a class="name" href="buy_goods.html">我购买的商品</a></p>
                    <p class="a_out"><a href="javascript:void(0);">我卖出的商品</a></p>
                    <p class="a_out"><a href="javascript:void(0);">我收藏的商品</a></p>
                    <p class="a_out"><a href="javascript:void(0);">我收货的地址</a></p>
                </div>
                <div class="uc_last_name">
                    <p class="a_out"><a href="javascript:void(0);">购买指南</a></p>
                    <p class="a_out"><a href="javascript:void(0);">发布指南</a></p>
                    <p class="a_out"><a href="javascript:void(0);">常见问题</a></p>
                    <p class="a_out"><a href="javascript:void(0);">修改密码</a></p>
                </div>
            </div>
            <div class="uc_right fr">
                <div class="buy_title cf"><span class="active fl">全部订单</span><span class="fl">待付款</span><span class="fl">交易中</span><span class="fl">交易成功</span></div>
                <div class="user_time cf">
                    <p class="time_box fl cf">
                        <span class="time_text fl">交易类型：</span>
                        <select>
                            <option value ="请选择">请选择</option>
                        </select>
                    </p>
                    <p class="cf">
                        <span class="order_text fl">关键词：</span>
                        <input class="user_search fl" type="text" name="" placeholder="请输入商品标题或订单编号">
                        <input class="button" type="button" value="搜索">
                    </p>
                </div>
                <div class="buy_box cf">
                    <select class="fl">
                        <option value ="近一个月订单">近一个月订单</option>
                        <option value ="近三个月订单">近三个月订单</option>
                        <option value ="近一年月订单">近一年月订单</option>
                    </select>
                    <span class="buy_t1 fl">订单信息</span>
                    <span class="buy_t2 fl">数量</span>
                    <span class="buy_t3 fl">实付</span>
                    <span class="buy_t4 fl">状态</span>
                    <span class="buy_t5 fl">操作</span>
                </div>
                <ul class="buy_ul active">
                    <li class="copy" data-num="4">
                        <p class="buy_p cf"><span class="buy_time fl">2018-09-27</span><span>订单编号：</span><span>DB20180903642347063</span></p>
                        <div class="buy_info cf">
                            <div class="buy_box_info fl">
                                <p class="buy_box_title ofh">【神枪手】 女 85级 QQ等级0级无QQ 好友</p>
                                <p class="buy_type ofh">商品种类：游戏账号</p>
                                <p class="buy_area ofh">游戏/区/服： 地下城与勇士 / 江苏区 / 江苏3区</p>
                            </div>
                            <p class="buy_t2 buy_li_info fl">1</p>
                            <p class="buy_t3 buy_li_info fl">299.00</p>
                            <p class="buy_t4 buy_li_info fl">交易成功</p>
                            <a class="buy_t5 buy_li_info fl" href="javascript:void(0);">查看订单</a>
                        </div>
                    </li>
                </ul>
                <ul class="buy_ul">
                    <li class="copy" data-num="4">
                        <p class="buy_p cf"><span class="buy_time fl">2018-07-27</span><span>订单编号：</span><span>DB20180903642347063</span></p>
                        <div class="buy_info cf">
                            <div class="buy_box_info fl">
                                <p class="buy_box_title ofh">【神枪手】 女 85级 QQ等级0级无QQ 好友</p>
                                <p class="buy_type ofh">商品种类：游戏账号</p>
                                <p class="buy_area ofh">游戏/区/服： 地下城与勇士 / 江苏区 / 江苏3区</p>
                            </div>
                            <p class="buy_t2 buy_li_info fl">1</p>
                            <p class="buy_t3 buy_li_info fl">299.00</p>
                            <p class="buy_t4 buy_li_info fl" style="color: #ff6b63;">待付款</p>
                            <a class="buy_t5 buy_li_info fl" href="javascript:void(0);">查看订单</a>
                        </div>
                    </li>
                </ul>
                <ul class="buy_ul">
                    <li class="copy" data-num="4">
                        <p class="buy_p cf"><span class="buy_time fl">2018-09-27</span><span>订单编号：</span><span>DB20180903642347063</span></p>
                        <div class="buy_info cf">
                            <div class="buy_box_info fl">
                                <p class="buy_box_title ofh">【神枪手】 女 85级 QQ等级0级无QQ 好友</p>
                                <p class="buy_type ofh">商品种类：游戏账号</p>
                                <p class="buy_area ofh">游戏/区/服： 地下城与勇士 / 江苏区 / 江苏3区</p>
                            </div>
                            <p class="buy_t2 buy_li_info fl">1</p>
                            <p class="buy_t3 buy_li_info fl">299.00</p>
                            <p class="buy_t4 buy_li_info fl" style="color: #ff6b63;">交易中</p>
                            <a class="buy_t5 buy_li_info fl" href="javascript:void(0);">查看订单</a>
                        </div>
                    </li>
                </ul>
                <ul class="buy_ul">
                    <li class="copy" data-num="4">
                        <p class="buy_p cf"><span class="buy_time fl">2018-09-27</span><span>订单编号：</span><span>DB20180903642347063</span></p>
                        <div class="buy_info cf">
                            <div class="buy_box_info fl">
                                <p class="buy_box_title ofh">【神枪手】 女 85级 QQ等级0级无QQ 好友</p>
                                <p class="buy_type ofh">商品种类：游戏账号</p>
                                <p class="buy_area ofh">游戏/区/服： 地下城与勇士 / 江苏区 / 江苏3区</p>
                            </div>
                            <p class="buy_t2 buy_li_info fl">1</p>
                            <p class="buy_t3 buy_li_info fl">299.00</p>
                            <p class="buy_t4 buy_li_info fl">交易成功</p>
                            <a class="buy_t5 buy_li_info fl" href="javascript:void(0);">查看订单</a>
                        </div>
                    </li>
                </ul>
                <div style="text-align: center;margin-top: 30px;">分页BOX</div>
            </div>
        </div>
    </div>

<script src="../public/js/jquery.js"></script>
<script src="../public/js/public.js"></script>
<script src="../public/js/buy_goods.js"></script>
</body>
</html>